.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.characterNames {
  width: 90vw;
  height: 350px
}

.characters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  .characterName {
    color: white;
  }
}

footer {
  div {
    color: red;
  }
}

@media screen {
  img {
    max-width: 250px;
  }

  header {
    margin: 2em;
  }
}

@media print {
  header, footer {
    display: none;
  }

  .characters {
    margin-top: 1in;
  }

  .characterName {
    display: none;
  }

  img {
    border-radius: 50%;
    width: 3in;
    height: 3in;
  }
}
